<!-- 🔥 Utente selezionato -->
@if (selectedUser()) {
  <div class="item">
    {{ selectedUser()?.name }}
    {{ selectedUser()?.description }}
    {{ selectedUser()?.id }}
  </div>
}

<!-- 🔥 Popup errore -->
@if (isPopupVisible()) {
  <div class="overlay">
    <div class="popup">
      <h2>User non trovato</h2>
      <button (click)="togglePopup()">Chiudi</button>
    </div>
  </div>
}

<!-- 🔥 Ricerca per ID -->
<div>
  <input type="text" placeholder="id" #id>
  <button (click)="ottieniElemento(+id.value)">
    Ottieni elemento
  </button>
</div>

<!-- 🔥 Lista utenti -->
<div class="container">
  @for (item of sortedUsers(); track item.id) {
    <div class="item">
      {{ item.name }}
      {{ item.description }}
      {{ item.id }}

      <button (click)="deleteUser(item.id)">
        Elimina
      </button>
    </div>
  }
</div>



<button (click)="toggleAddUser()">Incrementa count</button>
@if (istoggleAddUser()) {
  <div>
   <app-add-user-component [count] = "count()"  (countValue)="onUserCreated($event)"></app-add-user-component>
  </div>
}
