<!-- UTENTE SELEZIONATO -->
@if (selectedUser()) {
  <div class="item">
    {{ selectedUser()?.name }}
    {{ selectedUser()?.description }}
    {{ selectedUser()?.id }}
  </div>
}

<!-- POPUP -->
@if (isPopupVisible()) {
  <div class="overlay">
    <div class="popup">
      <h2>User non trovato</h2>
      <button (click)="togglePopup()">Chiudi</button>
    </div>
  </div>
}

<!-- INPUT ID -->
<div>
  <input type="number" placeholder="id" #id>
  <button (click)="ottieniElemento(+id.value)">
    Ottieni elemento
  </button>
</div>

<!-- LISTA -->
<div class="container">
  @for (item of sortedUsers(); track item.id) {
    <div class="item">
      {{ item.name }}
      {{ item.description }}
      {{ item.id }}

      <button (click)="deleteUser(item.id)">
        Elimina
      </button>
    </div>
  }
</div>

<!-- ADD USER -->
<button (click)="toggleAddUser()">Toggle Add User</button>

@if (istoggleAddUser()) {
  <app-add-user-component
    [count]="count()"
    (countValue)="onUserCreated($event)">
  </app-add-user-component>
}