body {
  margin: 0;
  background: #7192BE;
  font-family: Arial, sans-serif;
}

button {
  background: #EFABFF;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #EDA2F2;
}